
# system files
**/.DS_Store
**/desktop.ini

# hugo files
/public
/resources
.hugo_build.lock

# astro / node
/node_modules
/dist
/.astro
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]