---
import PostCard from "./PostCard.astro";
import type { PostMeta } from "../lib/posts";

interface Props {
  posts: PostMeta[];
}

const { posts } = Astro.props;
---

<section class="divide-y divide-zinc-200 dark:divide-zinc-800">
  {posts.map((post) => <PostCard post={post} />)}
</section>
