<script type="speculationrules">
  {
    "prerender": [
      {
        "where": {
          "href_matches": "/*"
        },
        "eagerness": "moderate"
      }
    ],
    "prefetch": [
      {
        "where": {
          "or": [
            {
              "href_matches": "/*"
            },
            {
              "href_matches": "https://lookscanned.io"
            }
          ]
        },
        "eagerness": "immediate"
      }
    ]
  }
</script>
<link rel="dns-prefetch" href="https://lookscanned.io/" />
